@model ProjetASPMVC1.Models.Filiere

@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml ";
}
<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>


</head>
<body style="margin-left:20px;">

    <br />




    <table>
        <tr>
            <th>

              Par filiere  @Html.DropDownListFor(x => x.id_fil, ViewBag.f as SelectList, "Selectionner un filiere", new { id = "Fil" })
            </th>
            <th style="padding-left:50px;">

                
                Par diplome <select name="nom_diplome" id="nom_dip">

                    <option value="Licence">Licence</option>
                    <option value="Licence pro">Licence pro</option>
                    <option value="DUT">DUT</option>
                    <option value="BTS">BTS</option>
                </select>
            </th>
            <th style="padding-left:50px;">
               Par matricule @Html.DropDownList("n_dossier", ViewBag.m as SelectList, "Selectionner Matricule", new { id = "nd" })
                
            </th>

        </tr>
    </table>

     <br /><br />
    @using (Html.BeginForm("delete", "Admins", FormMethod.Post))
    {

        <div class="table-responsive">

            <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                <thead>

                    <tr class="table-danger">
                        <th>
                            Supprimer
                        </th>
                        <th>
                            CIN
                        </th>
                        <th>
                            Prenom
                        </th>
                        <th>
                            Nom
                        </th>
                        <th>
                            Matricule
                        </th>

                    </tr>
                </thead>

                <tbody id="contenu" name="contenu"></tbody>

            </table>
        </div>
    }

    <script>



        $(function () {


            $("#nd").change(function () {

                $.get("/Admins/GetEtudiantByIdMatricule", {

                    n_dossier: $("#nd").val()
                }, function (data) {

                    $("#contenu").empty();

                    $.each(data, function (index, ligne) {
                        $("#contenu").append("<tr ><td><input type='submit'  class='btn btn-danger' value=" + ligne.CIN + "  name='CIN'>|<i class='fa fa-trash'></i></td> <td> " + ligne.CIN + "</td><td>" + ligne.prenom + "</td><td>" + ligne.nom + "</td><td>" + ligne.n_dossier + "</td></tr>"






                        )
                    });
                })
            });

        

            $("#nom_dip").change(function () {

                $.get("/Admins/GetEtudiantByIdDip", {

                    nom_diplome: $("#nom_dip").val()
                }, function (data) {

                    $("#contenu").empty();

                    $.each(data, function (index, ligne) {
                      $("#contenu").append("<tr ><td><input type='submit'  class='btn btn-danger' value=" + ligne.CIN + "  name='CIN'>|<i class='fa fa-trash'></i></td> <td> " + ligne.CIN + "</td><td>" + ligne.prenom + "</td><td>" + ligne.nom + "</td><td>" + ligne.n_dossier + "</td></tr>"

                    




                        )
                    });
                })
            });


  $("#Fil").change(function () {

                $.get("/Admins/GetEtudiantById", {

                    id_fil: $("#Fil").val()
                }, function (data) {

                    $("#contenu").empty();

                    $.each(data, function (index, ligne) {
                        $("#contenu").append("<tr ><td><input type='submit'  class='btn btn-danger' value=" + ligne.CIN + "  name='CIN'>|<i class='fa fa-trash'></i></td> <td> " + ligne.CIN + "</td><td>" + ligne.prenom + "</td><td>" + ligne.nom + "</td><td>" + ligne.n_dossier + "</td></tr>"






                        )
                    });
                })
            });



          
          



        });

    </script>



</body>

</html>

