@model ProjetASPMVC1.Models.Candidat

@{
    ViewBag.Title = "StatistiqueView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<html>
<head>
    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title: {
		text: "statistique des condidats en 3 eme annee genie informatique"
	},
	axisY: {
		title: "Nombre des condidats"
	},
	data: [{
		type: "column",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});
chart.render();

}
    </script>
</head>
<body>
    <h2>statistique des preinscrits</h2>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>

