label {
    margin-right: 50px;
}

.form-group {
    margin: 40px;
}

.listattent {
    margin-left: 50px;
}

.afficherliste {
    margin-top: 60px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right:70px;
}

.classement {
    margin-top: 45px;
}
div{
    text-align:center;
}
